<div style="text-align:center">
  <h1>
    Lunches for today!
  </h1>
</div>
<div style="margin-left: 3%;">
  <h1>
    Get your order!
  </h1>
</div>
<div style="margin-left: 3%;">
  <input type="text" name="user" placeholder="Introduzca email" #user>
</div>
<ul *ngIf="menu && menu.lunches">
  <li *ngFor="let lunch of menu.lunches">
    <h2>{{ lunch.name }} <input type="radio" name="lunch" value="{{lunch.id}}" (change)="getPreparationsByLunch($event.target.value)"></h2>
    <ul *ngIf="lunch && lunch.preparations">
      <li *ngFor="let preparation of lunch.preparations">
        <h3>{{ preparation.name }} </h3>
        <h4>
          (<span *ngFor="let ingredient of preparation.recipe; let isLast=last">
            {{ ingredient.name }}{{isLast ? '' : ', '}}
          </span>)
        </h4>
      </li>
    </ul>
  </li>
</ul>
<br>
<div style="margin-left: 3%;">
  <div *ngIf="preparations">
    <h2>without this ingredient (per preparation):</h2>
    <ng-template ngFor let-preparation [ngForOf]="preparations">
      <h4><input type="radio" name="preparation" value="{{ preparation.id }}" (change)="getIngredientsByPreparation($event.target.value)"> {{ preparation.name }}</h4>
    </ng-template>
  </div>
  <div *ngIf="ingredients">
    <ng-template ngFor let-ingredient [ngForOf]="ingredients">
      <h4><input type="checkbox" [checked]=" ingredient.id | ischecked : exclutions : id_preparation " value="{{ ingredient.id }}" (change)="ingredientsToExclude($event)"> {{ ingredient.name }}</h4>
    </ng-template>
  </div>
  <div *ngIf="id_lunch">
    <button (click)="submit(user)">submit</button>
  </div>
</div>